@{
    ViewData["Title"] = "Report Page";
}

<div class="text-center">
    <h1>This is Report Area @ViewBag.FullName</h1>
</div>

<div class="container">
    <div class="row">
        <label>From Date: </label>
        <input type="date" class="form-control" />
        <lable>To Date: </lable>
        <input type="date" class="form-control" />
        <lable>Type</lable>
        <select>
            <option>select</option>
            <option>Income</option>
            <option>Expence</option>
        </select>
        <button type="submit">Search</button>
    </div>
</div>

<div class="container">
    <div>
        <table>
            <tr>
                <th>SL</th>
                <th>Transection Type</th>
                <th>Desction</th>
                <th>Date</th>
                <th>Income</th>
                <th>Expence</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Income</td>
                <td>This is coming from salary</td>
                <td>01/01/2024</td>
                <td>500.00</td>
                <td>0.00</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Expence</td>
                <td>This is for martket</td>
                <td>02/01/2024</td>
                <td>0.00</td>
                <td>500.00</td>
            </tr>
        </table>
    </div>
</div>