@model Daily_Deep.Models.TransactionData

@{
    ViewData["Title"] = "Transaction Page";
}

<div class="text-center">
    <h1>@ViewBag.FullName Enter Daily Transaction</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md">
            <form method="post" asp-controller="Account" asp-action="CreateTransaction"> <div class="mb-3">
                    <label asp-for="TransactionDate" class="form-label">Date</label>
                    <input type="date" asp-for="TransactionDate" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="CategoryId" class="form-label">Category</label>
                    <select asp-for="CategoryId" class="form-select">
                        </select>
                </div>
                <div class="mb-3">
                    <label asp-for="TransactionType" class="form-label">Transaction Type</label>
                    <select asp-for="TransactionType" class="form-select">
                        <option value="income">Income</option>
                        <option value="expense">Expense</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label asp-for="Amount" class="form-label">Amount</label>
                    <input type="number" asp-for="Amount" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
