@{
    ViewData["Title"] = "Transaction Page";
}

<div class="text-center">
    <h1>This is Transaction Area @ViewBag.FullName</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>
    </div>
</div>