@{
    ViewData["Title"] = "Transaction Page";
}

<div class="text-center">
    <h1>@ViewBag.FullName Enter Daily Transaction</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md">
            <h2>This is inside of the container</h2>
        </div>
    </div>
</div>